* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
    display: flex;
    justify-content: center;
}
#cor{
    background-color: white;
}
#primeiro{
    margin-top: 30px ;
    background-color: white;
}
#corpo{
    margin-top: 50px;
    margin: 20px auto;
}

#cartao{
    margin-bottom: 10px;
}

#dados{
    margin-bottom: 10px;
}
div {
   
    width: 700px;
    border-radius: 10px;
    margin: 20px auto;
}